.stepper-vertical li {flex: 1 0 auto;}
.stepper-vertical li .step-content {width: 90%}
address, dl, ol, p, pre, ul {
    margin-bottom: 0;
}
button:focus {
    outline: none !important;
}
/*select2 theme*/
.select2-selection {
    height: 50px !important;
    border-color: #dee2e6 !important;
}
span.select2-selection__rendered {
    padding: 0 1rem !important;
    line-height: 50px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px;
    width: 50px;
}
.select2-container--default .select2-results__option[aria-selected='true'] , .select2-results__option {
    background-color: #f1f4f9 !important;
    font-size:1rem !important;
    padding:1rem;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color:#228e8c !important;
    color:#fff !important;
}
.select .select2-selection:after {
    top: 10%;
}
html[dir="rtl"] .page-item:first-child .page-link {
    margin-left: -1px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-right: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
html[dir="rtl"] .page-item:last-child .page-link {
    margin-right: -1px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    .profile-card .avatar {
        width: 100%;
        text-align: center;
    }
    .profile-card .avatar img {
        width: 100%;
    }
 }